#grid{
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 2px;
}

#row{
    flex: 1;
    display: flex;
}

#cell{
    flex: 1;
    background-color: white;
    margin: 0.5px;
}

button{
    margin-top: 10px;
    margin-left: 40px;
}

.slider{
    margin-top: 20px;
}